.container {
    background: linear-gradient(42.73deg, #017d91 -79.94%, #05ac5c 159.12%) !important;
    border-radius: 14px !important;
    color: white !important;
    padding: 0.4rem 1.4rem !important;
    text-transform: none !important;
    font-weight: 500 !important;
}
