.topContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .title {
      font-weight: 700;
      line-height: 30px;
      font-size: 22px;
      padding-top: 12px;
    }
  
    .rightContainer {
      display: flex;
  
      .rightSubContainer {
        display: flex;
        flex-direction: column;
  
        .text1 {
          color: #8d97a0;
          font-size: 12px;
          font-weight: 400;
          text-align: end;
        }
  
        .text2 {
          font-size: 16px;
          text-align: end;
          font-weight: 400;
        }
      }
    }
  }
  
  .chooseContainer {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    // padding: 20px 0;
  
    .chooseSubContainer {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
    }
    .chooseSubContainerLabel {
      padding-bottom: 27px;
    }
  
    .chooseContainer-content {
      padding: 20px;
      display: flex;
      align-items: center;
      column-gap: 25px;
      margin-top: 20px;
  
      label {
        font-size: 12px;
        font-weight: 400;
        color: #fff;
      }
  
      .inputDisabled {
        opacity: 0.5;
        border: 0px !important;
      }
  
      input[type="text"] {
        width: 90px;
        height: 40px;
        background: rgba(255, 255, 255, 0.25);
        border-radius: 14px;
        margin-right: 5px;
        outline: none;
        padding: 5px 10px;
        color: #fff;
        font-family: heebo;
        font-weight: 500;
        
        border: 1px solid #FFFFFF;
      }
    }
  }
  
  .button {
    width: 100%;
  
  }
  
  .bottomContainer {
    padding: 25px 5px;
    display: flex;
    justify-content: space-between;
    .list {
      list-style: unstyled;
      li {
        display: flex;
        color: #fff;
        line-height: 24px;
        font-size: 12px;
        font-weight: 300;
        white-space: pre;
        //  column-gap: 25px;
        .bold {
          font-weight: 400;
        }
        span {
          width: 50%;
        }
      }
    }
  
    .bottomContainerRight {
      height: 110px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 20px;
      padding: 20px;
  
      h6 {
        font-weight: 400;
        font-size: 12px;
        line-height: 21px;
        text-align: center;
        color: #ffffff;
      }
  
      h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        text-align: center;
        color: #ffffff;
      }
    }
  }
  