.connect {
  background: linear-gradient(42.73deg, #017d91 -79.94%, #05ac5c 159.12%);
}
.mobileNavbar {
  background: #001223;
  height: 100px;
}

.mobileNavbarBg {
  background: rgba(28, 49, 67, 0.85) !important;
  z-index: 111111;
  height: calc(100vh - 100px);
  top: 100px !important;
  .mobileNavbarContainer {
    width: 30%;
    background-color: #001223 !important;
    height: 100%;
  }

  //   background: linear-gradient(42.73deg, #017d91 -79.94%, #05ac5c 159.12%);
}

.m-auto {
  margin: auto;
}
