@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "./mixin.scss"; */
@import url("https://use.typekit.net/gji5wjb.css");
@import "../styles/mixin.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: heebo, sans-serif;
  font-style: normal;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: heebo, sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.sidebar {
  /* @include devices(tablet) {
      display: block;
    }

  @include devices(mobile) {
    display: none;
  } */
}

.my-grid {
  /* @include devices(tablet) {
    flex-direction: row;
  }

@include devices(mobile) {
  flex-direction: column;
} */
}

.bg-main {
  background: linear-gradient(118.56deg, #0f2337 0%, #003d4a 100%);

  /* @include devices(mobile) {
    padding: 1.5em;
  } */
}

.net-pay-box {
  border-bottom: 4px solid rgb(255 255 255 / 5%);
}

header {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-gap {
  gap: 10px;
}

.side-bottom {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 10px;
}

.side-bottom h5 {
  color: #ffffff;
  line-height: 24px;
}

.side-bottom>div {
  flex: 50%;

  /* or - flex: 0 50% - or - flex-basis: 50% - */
  @include devices(phone) {
    flex: 100% !important;
  }
  @include devices(tablet) {
    flex: 100% !important;
  }


  /*demo*/
  text-align: center;
  margin-bottom: 7px;
}

.small-label {
  font-size: 16px;
  line-height: 24px;
  color: #8d97a0;
}

.green-btn {
  background: linear-gradient(42.73deg, #017d91 -79.94%, #05ac5c 159.12%) !important;
  border-radius: 14px !important;
}

.green-table-btn {
  width: auto;
  background: linear-gradient(42.73deg, #017d91 -79.94%, #05ac5c 159.12%);
  border-radius: 14px;
}

/* 
Circle styles
*/
.circle-wrap {
  width: 150px;
  height: 150px;
  /* background: #fefcff; */
  background: #02172c;
  border-radius: 50%;
  /* border: 1px solid #cdcbd0; */
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}


.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background: linear-gradient(0deg, #fd3a84 0%, #ffa68d 100%);
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 2s;
  transform: rotate(100deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(135deg);
  }
}

.circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: linear-gradient(118.56deg, #0f2337 0%, #003d4a 100%);
  line-height: 140px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* 
Circle style ends
*/

/* // background global classes */

.bg-white-01 {
  background: rgba(255, 255, 255, 0.1);
}

.bg-white-05 {
  background: rgba(255, 255, 255, 0.1);
}